:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --space-100: 0.5rem;
  --space-150: 0.75rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-1600: 8rem;

  /* @link https://utopia.fyi/clamp/calculator?a=375,1440,36—40 */
  --fluid-36-40: clamp(2.25rem, 2.162rem + 0.3756vw, 2.5rem);

  /* @link https://utopia.fyi/clamp/calculator?a=375,1440,32—40 */
  --fluid-32-40: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
}

@font-face {
  font-family: 'Young Serif';
  src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  background-color: var(--stone-100);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Young Serif';
}

hr {
  border: 0.5px solid var(--stone-150);
}

.txt-preset-1, h1 {
  font-family: 'Young Serif';
  font-size: var(--fluid-36-40);
  line-height: 1;
  font-weight: 400;
}

.txt-preset-2, h2 {
  font-family: 'Young Serif';
  font-size: 1.75rem;
  line-height: 1;
}

.txt-preset-3, .recipe__callout-heading {
  font-family: 'Outfit';
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 600;
  color: var(--rose-800);
}

.txt-preset-4, body {
  font-family: 'Outfit';
  line-height: 1.5;
  font-weight: 400;
}

.txt-preset-4--bold {
  font-weight: 700;
}

.recipe__container {
  @media (min-width: 46rem) {
    padding: var(--space-1600) var(--space-600);
  }
}

.recipe {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--space-500);
  max-width: 46rem;
  place-self: center;
  margin: auto;
  padding-block-end: var(--space-500);
  color: var(--stone-600);

  & > :first-child:where(:not(.recipe__hero)) {
    margin-block-start: var(--space-500);
  }

  & > *:where(:not(.recipe__hero)) {
    margin-inline: var(--fluid-32-40);
  }

  @media (min-width: 46rem) {
    border-radius: var(--space-300);
  }
}

.recipe__hero {
  @media (min-width: 46rem) {
    margin-block-start: var(--space-500);
    margin-inline: var(--fluid-32-40);
  }
}

.recipe__hero-img {
  @media (min-width: 46rem) {
    border-radius: var(--space-150);
  }
}

.recipe__content {
  display: flex;
  gap: var(--space-400);
  flex-direction: column;
}

.recipe__intro {
  color: var(--stone-900);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.recipe__callout {
  background-color: var(--rose-50);
  padding: var(--space-300);
  border-radius: var(--space-150);
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.recipe__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  padding-inline-start: var(--space-300);

  & > li {
    padding-inline-start: var(--space-200);
  }

  & > li::marker {
    color: var(--brown-800);
  }
}

.recipe__list--rose-800 > li::marker {
  color: var(--rose-800);
}

.recipe__section {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.recipe__section-heading {
  color: var(--brown-800);
}

.recipe__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.recipe__table-row {
  display: flex;
  gap: var(--space-200);
  padding-inline: var(--space-400);

  &:not(:first-child) {
    padding-block-start: var(--space-150);
  }

  &:not(:last-child) {
    padding-block-end: var(--space-150);
    border-bottom: 0.5px solid var(--stone-150);
  }
}

.recipe__table-th {
  flex: 100%;
  text-align: start;
}

.recipe__table-td {
  flex: 100%;
  text-align: start;
  color: var(--brown-800);
}
